.individual-report-table__col-status {
  width: 14%;
}

.individual-report-table__col-title {
  width: 54%;
}

.individual-report-table__col-created {
  width: 20%;
}

.individual-report-table__col-detail {
  width: 12%;
}
