.individual-report-table__col-status {
  width: 16%;
}

.individual-report-table__col-title {
  width: 50%;
}

.individual-report-table__col-created {
  width: 22%;
}

.individual-report-table__col-detail {
  width: 12%;
}
